body
{background-color:antiquewhite; border:1px solid white; font-family: Comic Sans MS}
h2{ font-size:100px; color:black;}
h3{ color: gray; font-size:25px;}
	p{ color:black;}
	div{ height:200px;}
	.dsn { height:20%; background-color:lightblue;}
	.cost{  height:20%; background-color:lightgreen; }
.present{  height:20%; background-color:#EAB1A4; }
.acc{ height:20%; background-color:#F5C0F2; }

ul.topnav {
  
  list-style-type: none;
  margin: 0;
  padding:15px;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: green;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  
  ul.topnav li {float: none;}
	
	
	#iamg{margin-left: 36%;}

	
		
}
